.page-header
  %h1= t '.auth_step'
  .alert.alert-block
    %h5= t'.additional_info'
= simple_form_for @user, :method => :put, url: authorization_finish_network_path do |f|
  .row-fluid
    .span4
      %h4= t '.info'
      %hr
      = f.input :first_name, input_html: { class: 'input-xlarge' }
      = f.input :last_name, input_html: { class: 'input-xlarge' }
      = f.input :birthday, as: :datepicker,
        input_html: { class: 'input-xlarge', data: { 'year-min' => User.birthday_year_min, 'year-max' => User.birthday_year_max }}
    .span4
      %h4= t '.education'
      %hr
      = f.input :university, input_html: { class: 'input-xlarge' }
      = f.input :edu_year_end, as: :edu_year_end, include_blank: false,
        input_html: { class: 'input-medium' }
  .row-fluid
    .span4
      %h4= t '.contacts'
      %hr
      = f.input :email, input_html: { class: 'input-xlarge', placeholder: '' }

  .form-actions
    = f.button :submit, t('.auth'), class: 'btn-primary'
    = link_to t('.cancel'), root_path, class: 'btn'

