.page-header
  %h1= @course
  -if @course.note?
    %hr
    %h4{class: 'alert alert-info'}= @course.note

%ul.nav.nav-tabs
  - if !signed_in?    
    .pagination-centered
      %h5
        = t('.need_authorization')
        = link_to t('.authorization'), new_session_path
        = t('.slash')
        = link_to t('.registration'), new_user_path
  
  %li.active= link_to t('.main'), '#main', data: { toggle: 'tab' }
  - if @course.materials.published.any?
    %li= link_to t('.materials'), '#materials', data: { toggle: 'tab' }
  - if @course.tasks.published.any?
    %li= link_to t('.tasks'), '#tasks', data: { toggle: 'tab' }

  - if signed_in?
      - action = current_user.courses.include?(@course) ? "unscribe" : "subscribe"
      = simple_form_for @course, :url => send("#{action}_course_user_path") do |f|
        = f.input :id, :as => :hidden
        = f.button :submit, value: t(".#{action}"),
          class: "#{(current_user.courses.include?(c)) ? 'btn btn-danger pull-right' : 'btn btn-info pull-right' }",
          :confirm => t(".#{action}_confirm")
  - else
    = link_to t('.subscribe'), '#', class: 'btn btn-info pull-right disabled'

.tab-content
  .tab-pane.active#main
    != Sanitize.clean @course.description, Sanitize::Config::RELAXED

  .tab-pane#materials
    - if @course.materials.published.any?
      = render 'resources', resources: @course.materials.published

  .tab-pane#tasks
    - if @course.tasks.published.any?
      = render 'resources', resources: @course.tasks.published
