.page-header
  %h1= t('.news')

- @news.each do |n|
  .media
    - if n.image?
      = link_to news_path(n), class: 'pull-left' do
        = image_tag n.image.thumb.url, class: 'media-object'
    .media-body
      %h4.media-heading
        %small
          %time.pull-right{datetime: n.date}= n.date
        = link_to n.name, news_path(n)
      %p= n.description
  - unless n == @news.last
    %hr

.pagination
  = paginate @news
