.page-header
  %h1= t '.sign_up'
  %h4= t(".social_networks")
  = link_to image_tag('auth_providers/facebook.png'), sign_in_via_social_network_cpath(:facebook)
  = link_to image_tag('auth_providers/twitter.png'), sign_in_via_social_network_cpath(:twitter)
  = link_to image_tag('auth_providers/vkontakte.png'), sign_in_via_social_network_cpath(:vkontakte)
  = link_to image_tag('auth_providers/github.png'), sign_in_via_social_network_cpath(:github)

= render 'web/shared/user_tabs'

.tab-content
  .tab-pane.active#sign-up
    = render 'sign_up'

