.page-header
  %h1= t('.own_courses') 

%table{:class => "table table-striped"}
  - @course.each do |n|
    - if n.published? && n.allowed?
      %tr
        %td 
          = link_to n.name, course_path(n), class: 'btn btn-link'
        %td
          - if current_user.courses.include?(n)
            = simple_form_for n, url: unscribe_course_user_path do |f|
              = f.input :id, :as => :hidden
              = f.button :submit, value: t('.unscribe'),  class: 'btn btn-danger pull-right', :confirm => t(".unscribe_confirm")
          - else
            = simple_form_for n, url: subscribe_course_user_path do |f|
              = f.input :id, :as => :hidden
              = f.button :submit, value: t('.subscribe'),  class: 'btn btn-info pull-right', :confirm => t(".subscribe_confirm")

.pagination
  = paginate @course
