= simple_form_for @user, :url => url, :html => {:class => "form-horizontal"} do |f|
  %legend= legend
  = f.error_notification
  - if @user.persisted?
    .control-group.state
      = f.label :state
      .controls
        = user_state_label(@user)
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :password
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t(:cancel), admin_users_path, :class => 'btn'
    - if @user.persisted?
      - if @user.can_activate?
        = link_to User.human_state_event_name(:activate),
          trigger_state_event_admin_user_path(@user, {event: :activate}),
          :method => :put, :confirm => t(:sure), :class => "btn btn-success"
      - if @user.can_deactivate?
        = link_to User.human_state_event_name(:deactivate),
          trigger_state_event_admin_user_path(@user, {event: :deactivate}),
          :method => :put, :confirm => t(:sure), :class => "btn btn-danger"
