- content_for :sidebar do
  %p
    = link_to api_users_path(format: :xlsx, :course => params[:course]), target: :_blank, class: 'btn btn-success' do
      %i.icon-download-alt
      = t('.xls')
  
  %p
    = link_to new_admin_user_path, class: 'btn btn-block btn-success' do
      %i.icon-plus
      = t('.new_user')

  %ul.nav.nav-tabs.nav-stacked
    %li
      = link_to new_admin_graduate_path, class: 'close' do
        %i.icon-plus
      = link_to t('.graduates'), admin_graduates_path
