%li= link_to t('.pages'), admin_pages_path
%li= link_to t('.courses'), admin_courses_path
%li= link_to t('.partners'), admin_partners_path
%li= link_to t('.organizers'), admin_organizers_path
%li= link_to t('.news'), admin_news_index_path
%li= link_to t('.users'), admin_users_path
