.nested-fields.well
  = link_to_remove_association f, class: 'close' do
    %i.icon-trash
  = f.input :name, input_html: { class: 'input-xxlarge' }
  = f.input :url, input_html: { class: 'input-xxlarge' }
  = f.input :state_event, as: :state_event, wrapper: :state

  = f.simple_fields_for :files do |fl|
    = render 'file_fields', f: fl
  .links
    = link_to_add_association f, :files, class: 'btn btn-info' do
      %i.icon-plus
      = t '.add_file'

