%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :name
      %th= sort_link @q, :kind_name
      %th= sort_link @q, :level_name
      %th= sort_link @q, :state

  %tbody
  - @courses.each do |n|
    %tr
      %td= n.name
      %td= n.kind
      %td= n.level
      %td= n.human_state_name
      %td
        .pull-right.btn-group
          = link_to edit_admin_course_path(n), class: 'btn btn-mini' do
            %i.icon-pencil
            = t(:edit)
          = link_to admin_course_path(n), method: :delete,
            class: 'btn btn-mini',
            data: { confirm: t('.delete_confirm') } do
            %i.icon-trash

.pagination
  = paginate @courses

= render 'sidebar'
