!!! 5
%html(lang = "ru")
  %head
    = render 'layouts/web/shared/head'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = analytics_init :local => Rails.env.production?
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target = ".nav-collapse" data-toggle = "collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .container.nav-collapse
            = link_to t('.title'), root_path, class: 'brand'
            = render 'layouts/web/shared/nav'
            %ul.nav.pull-right
              - if signed_in?
                %li.dropdown
                  = link_to '#',
                    class: 'dropdown-toggle',
                    data: { toggle: 'dropdown' } do
                    %i.icon-user
                    = current_user.first_name
                    %b.caret
                  - if signed_in?
                    %ul.dropdown-menu
                      - if current_user.admin? 
                        = render 'layouts/web/admin/shared/nav'
                        %li.divider
                      %li= link_to t('.my_courses'), account_courses_path
                      %li= link_to t('.profile'),  edit_account_path
                      %li= link_to t('.sign_out'), session_path, method: :delete
              - else
                %li{class: "#{'active' if current_page?(new_session_path)}"}
                  = link_to t('.sign_in'), new_session_path
    .container
      .row
        .span3
          = yield :sidebar_top
          = render 'layouts/web/shared/my_courses_nav'
          = render 'layouts/web/shared/courses_nav'
          = yield :sidebar_bottom
        .span9
          = flash_block
          = render_breadcrumbs unless current_page?(root_path)
          = yield
      = render 'layouts/web/shared/partners'
      = render 'layouts/web/shared/footer'
  = render 'layouts/web/shared/reformal'
