!!! 5
%html(lang = "ru")
  %head
    = render 'layouts/web/shared/head'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target = ".nav-collapse" data-toggle = "collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .container.nav-collapse
            = link_to t('.title'), root_path, class: 'brand'
            = render 'layouts/web/shared/nav'
            - if signed_in?
              .btn-group.pull-right
                = link_to t('.sign_out'), user_session_path, class: 'btn', method: :delete
              %ul.nav.pull-right
                %li= link_to t('.admin'), admin_root_path
                %li
                  = link_to edit_admin_user_path(current_user) do
                    %i.icon-user
                    = current_user.first_name
    .container
      .row
        .span3
          = yield :sidebar_top
          = render 'layouts/web/shared/courses_nav'
          = yield :sidebar_bottom
        .span9
          = flash_block
          = render_breadcrumbs unless current_page?(root_path)
          = yield
      = render 'layouts/web/shared/partners'
      = render 'layouts/web/shared/footer'
  = render 'layouts/web/shared/reformal'
