= simple_form_for :session, url: session_path do |f|
  .row-fluid
    .span4
      = f.input :email, input_html: { class: 'input-xlarge', value: @email }
      = f.input :password, input_html: { class: 'input-xlarge' }
      = link_to(t(".forgot_password"), new_remind_password_path)
    .span4
      %h4= t(".social_networks")
      = link_to image_tag('auth_providers/facebook.png'), sign_in_via_social_network_cpath(:facebook)
      = link_to image_tag('auth_providers/twitter.png'), '#'
      = link_to image_tag('auth_providers/vkontakte.png'), '#'
      = link_to image_tag('auth_providers/github.png'), '#'

  .form-actions
    .button
      = f.button :submit, t(".save"), class: 'btn-primary'

