= simple_form_for @page, url: url do |f|
  = f.input :name
  = f.input :body, input_html: { class: 'span8', rows: 7 }
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel'), admin_pages_path, class: 'btn'
    - if @page.can_destroy?
      = link_to t('.delete'), admin_page_path(@page), method: :delete, class: 'btn btn-danger pull-right',
        data: { confirm: t('.delete_confirm') }
