%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :slug
      %th= sort_link @q, :name

  %tbody
  - @pages.each do |page|
    %tr
      %td
        = link_to page.slug,
          page.system_slug? ? send("#{page.slug}_path") : page_path(page),
          target: :_blank
      %td
        = link_to page.name,
          page.system_slug? ? send("#{page.slug}_path") : page_path(page),
          target: :_blank

      %td
        .pull-right
          = link_to edit_admin_page_path(page), class: 'btn btn-mini btn-primary' do
            %i.icon-pencil
.pagination
  = paginate @pages

= render 'sidebar'
