= simple_form_for @material, url: url do |f|
  = f.input :name, input_html: { class: 'input-xxlarge' }
  = f.input :url, input_html: { class: 'input-xxlarge' }
  = f.input :state_event, as: :state_event, wrapper: :state
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t('.cancel'), admin_materials_path, class: 'btn'
    - if @material.can_destroy?
      = link_to t('.delete'), admin_material_path(@material), method: :delete, class: 'btn btn-danger pull-right',
        data: { confirm: t('.delete_confirm') }
