%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :name
      %th= sort_link @q, :url

  %tbody
  - @materials.each do |n|
    %tr
      %td= n.name
      %td= n.url
      %td
        .pull-right.btn-group
          = link_to edit_admin_material_path(n), 
            title: t('.title_edit'),
            class: 'btn btn-mini' do
            %i.icon-pencil
          = link_to admin_material_path(n), method: :delete,
            class: 'btn btn-mini',
            data: { confirm: t('.delete_confirm') } do
            %i.icon-trash

.pagination
  = paginate @materials

= render 'sidebar'
