= simple_form_for @level, url: url do |f|
  = f.input :name, input_html: { class: 'input-xxlarge' }
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to t('.cancel'), admin_course_levels_path, class: 'btn'
    - if @level.can_destroy?
      = link_to t('.delete'), admin_course_level_path(@level), method: :delete,
        class: 'btn btn-danger pull-right',
        data: { confirm: t('.delete_confirm') }
